{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Главная страница" %}
{% endblock title %}

{% block content %}
<div class="col-md-12 mt-2">
    <div class="card">
    <h4 class="card-header">{% trans "Обнаружение объектов с помощью YOLOv8" %}</h4>
    <div class="card-body">
        <h5 class="card-title">{% trans "Возможности приложения:" %}</h5>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">{% trans "Создание наборов изображений и загрузка нескольких изображений:" %}
                <a href="{% url 'images:imageset_create_url' %}" class="btn btn-sm btn-outline-success" type="button">{% trans "Создать набор" %}</a>
                {% if user_imagesets %}
                <a href="{% url 'images:imageset_list_url' %}" class="btn btn-sm btn-outline-success" type="button">{% trans "Мои наборы" %}</a>
                {% endif %}
                {% if public_imagesets %}
                <a href="{% url 'images:imageset_list_url' %}" class="btn btn-sm btn-outline-success" type="button">{% trans "Публичные наборы" %}</a>
                {% endif %}
            </li>
            <li class="list-group-item">{% trans "Преобразование размера загруженных изображений в 640 x 640 (для более быстрого обнаружения)" %}</li>
            <li class="list-group-item">{% trans "Загрузка собственной предобученной модели:" %}
                <a href="{% url 'modelmanager:mlmodel_upload_url' %}" class="btn btn-sm btn-outline-success" type="button">{% trans "Загрузить модель" %}</a>
                <a href="{% url 'modelmanager:public_mlmodel_list_url' %}" class="btn btn-sm btn-outline-success" type="button">{% trans "Список моделей" %}</a>
            </li>
            <li class="list-group-item">{% trans "Вы можете загрузить любую предобученную модель или модель YOLOv8." %}</li>
            <li class="list-group-item">{% trans "Обнаружение объектов на изображениях с помощью встроенной или своей модели." %}</li>
            <li class="list-group-item">{% trans "Ручная разметка изображений, если модель не смогла распознать объект." %}</li>
        </ul>
    </div>
    </div>
</div>  
{% endblock content %}